# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        with:
          submodules: true 
      
      - name: install
        run: npm install
      
      - name: build typescript
        run: npm run build          
      
      - name: get target repo
        run: |
          git clone https://langley0:${{ secrets.GITHUB_TOKEN }}@github.com/langley0/langley0.github.io
          cd langley0.github.io
          git checkout master
          git config --global user.email "you@example.com"
          git config --global user.name "Your Name"
          git config --global credential.helper store
          cd ..
          
      - name: build html
        run: node ./dist/src/build.js public langley0.github.io
        
      - name: push result
        run: |
          cd langley0.github.io
          git add -A
          git commit -m 'update post'
          git push origin master
      

        
